.team-heading {
    background-color: #509795;

}

.card-header {
    background-color: #7be5e1;
}

.card {
    width: 350px;
} 

.team-area {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li {
    font-size: larger;
}
